<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs')%>
    <title>Document</title>
</head>
<%- include('../partials/header.ejs')%>
  <body>
      <main>
          <div class='block'></div>
          <div class='has-text-centered title'> 
              <img class='headerTag' src="/Places2.png" >
            </div> 
        <div class= 'columns'>
            <%events.forEach(e => { %>
                <div class='column is-half is-size-5 has-text-black m-auto'>
                    <div class='column'>
                        <div class="card">
                            <header class='card-header'>
                                <p class="card-header-title">
                                    <%=e.events[0].name %> At <%=e.name %>
                                </p></header>
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="<%= e.img %>" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content is-overlay mt-6">
                                    <span class="tag is-primary"><%= e.type %></span>
                                </div>
                            </div>
                            
                        </div> 
                    </div>
                    <% }) %>
                    
                    
                    
                </div>
                <div  class='has-text-centered  is-size-5'>
                    <button class="button subtitle is-primary"><a  href="events/new"> ADD A NEW EVENT</a></button>
                </div>
        </main>
    </div>
</body>
</html>