<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs')%>
    <title>Document</title>
    </head>
  <body>
    <%- include('../partials/header.ejs')%>
    <main>
        <div class='block'></div>
        <div class='has-text-centered title'> 
            <img class='headerTag' src="/Places2.png" >
        </div> 
        <div class= 'columns'>
            <%places.forEach(p => { %>
                <div class='column  is-size-5 has-text-black m-auto'>
                    <div class=''>
                        <div class="card"> 
                            <a href='/places/<%= p._id %>'>
                            <header class='card-header'>
                                <p class="card-header-title">
                                    <%=p.name %>
                                </p></header>
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="<%= p.img %>" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content is-overlay mt-6">
                                    <span class="tag is-primary"><%= p.type %></span>
                                </div>
                            </a>
                            </div>
                            
                        </div> 
                    </div>
                    <% }) %>
                    
                    
                    
                </div>
                <div  class='has-text-centered  is-size-5'>
                    <a class="button subtitle is-success" href="places/new"> ADD A NEW PLACE</a>
                </div>
        </main>
    </div>
</body>
</html>