<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs')%>
    <title>Places</title>
</head>
<%- include('../partials/header.ejs')%>

<body class='bg-img has-navbar-fixed-top'>
    <div class="hero is-fullheight is-primary has-background">
        <img alt="filler" class="hero-background " src="/bg.png" />
        <div class="hero-body">
            <div class="container">
                <div class='block'></div>
                <div class='has-text-centered title'>
                    <img class='headerTag' src="/places.png">
                </div>
                <div class='columns is-multiline '>
                    <%places.forEach(p => { %>
                    <div class='column is-half is-size-5 has-text-black m-auto is-centered'>

                        <div class="card " id='main-card'>
                            <a href='/places/<%= p._id %>'>
                                <header class='card-header'>
                                    <p class="card-header-title">
                                        <%=p.name %>
                                    </p>
                                </header>
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="<%= p.img %>" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content is-overlay mt-6">
                                    <span class="tag is-primary"><%= p.type %></span>
                                </div>
                            </a>
                        </div>
                        <div class='block my-6'></div>
                    </div>
                    <% }) %>



                </div>
                <div class='has-text-centered  is-size-5'>
                    <a class="button subtitle is-success" href="places/new"> ADD A NEW PLACE</a>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>