<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Document</title>
</head>
<%- include('../partials/header.ejs')%>
<body class= 'bg-img'>
    <div class="hero is-fullheight is-primary has-background">
        <img alt="filler" class="hero-background " src="/bg.png" />
        <div class="hero-body">
          <div class="container">
           
         
<div class='columns is-centered'>
    <div class='column is-centered ml-6'>
        <div class='is-size-1 my-3'> <%=place.name %> </div>
        <div class='subtitle '><%=place.description %></div>
        <div class='subtitle mt-6'>Location: <%=place.address %> </div>
        <div class='subtitle'>Tags:<%=place.tags %></div>
        <div class='column my-6'>
           <div> 
               <div class="is-size-1">Events:</div>
               <% const ev = place.events %>
            <%Array.from(place.events).forEach((e,id) => { %>
                <div class='box'>
                    <a class='has-text-dark' href='<%= place._id %>/events/<%= id%>'>
                    <div class='has-text-weight-bold'> <%=  e.name %> </div>
                     <div>Day: <%= e.day  %></div>
                    <div> Time: <%=  e.time %> </div>
                     <div>How many are attending? <%= e.attendees.length  %></div>
                    </a>
        </div>
    <% }) %>
        
        
        </div>
        </div>
    </div>
    <div class='column mr-6 is-centered'>
        <div class='block my-6'></div>
        <div class='card'><img src="<%=place.img %>" alt="">  </div>
        <div class='block my-6'></div>
       
        <div class='has-text-centered'><a class='button is-success' href="/places/<%= place._id %>/edit">Edit this Place</a></div> </br>
        <div class='has-text-centered'><a class='button is-success' href="/events/<%= place._id %>/edit">Add an Event</a></div> </br>
        <div class='has-text-centered'><form action="/places/<%=place.id %>?_method=DELETE" method="POST">
            <input class='button is-danger is-inline' type="submit" value="DELETE this Place" />
        </form></div>
    </div>
    <div class='columns'>
       
    </div>
</div>
</div>
</div>
</div>
   
</body>
</html>